.point-section__header {
    padding: 20px 0 18px;
    padding: 2rem 0 1.8rem;
}

.point-section__sub .point-section__title {
    text-align: left;
}

.point-header__bar {
    width: 136px;
    width: 13.6rem;
}

.point-section__body {
    padding: 78px 0px 67px;
}

.point-section__sub {
    margin-bottom: 15rem;
}

.point-section__sub>div:nth-child(1) {
    padding-left: 30%;
    align-self: flex-start;
}

.point-section__title {
    position: relative;
}

.point-section__title h3 {}

.point-section__title .font-73 {
    color: #01AED2;
}

.point-section__title::after {
    content: "";
    background-color: #01AED2;
    opacity: 0.31;
    position: absolute;
    top: 62px;
    left: 5px;
    /* width: 494px; */
    width: 524px;
    height: 21px;
    top: 6.2rem;
    left: 0.5rem;
    width: 52.4rem;
    height: 2.1rem;
    transform: skewX(-20deg);
    z-index: -10;
}

.point-section__wrap {
    padding: 7.6rem 0px 0px;
}

.point-section__one {
    padding: 7.6rem 0px;
}

.point__one-left {
    width: 39%;
    align-self: flex-end;
    transform: translate(0%, 20%);
}

.point__one-right {
    width: 40%;
    align-self: flex-end;
}

.point__one-arrow {
    align-self: center;
    transform: translate(0%, 45%);
}

.point-one-left__picture {
    padding: 0px 0px 34px 0px;
    padding: 0px 0px 3.4rem 0px;
}

.point-one-left__picture {
    /* width: ; */
}

.point-one-left__cost-cloud {
    width: 30%;
    transform: translate(-20%, 0%);
}

.point-one-left__cost-text {
    width: 70%;
}

.point-one__bar {
    width: 256px;
    width: 25.6rem;
}

.point-one__bar--right {
    width: 327px;
    width: 32.7rem;
}

.point-one-right__wipe {
    width: 25%;
}

.point-one-right__wipe img {
    width: 99px;
    height: 283px;
    width: 9.9rem;
    height: 28.3rem;
    transform: translate(-20%, 20%);
}

.point-one-right__text {
    width: 65%;
    flex-direction: column;
    /* justify-content: space-between; */
}

.point-one-right__text .sub {}

.point-one-right__text .red {
    color: red;
}

.point-one-right__text>img {
    width: 44px;
    align-self: flex-end;
}

.point-one-right__text>a>img {
    width: 286px;
    height: 60px;
    width: 28.6rem;
    height: 6.0rem;
}

.point__one-arrow img {
    width: 68px;
    width: 6.8rem;
    height: 63px;
    width: 6.3rem;
}

.point-two__text {
    margin: 0px 63px 20px;
    position: relative;
}

.point-two__text .font-20 {
    font-size: 20px;
}

.point-two__text .font-12 {
    font-size: 12px;
}

.point-two__text::before {
    content: "";
    background-color: #01AED2;
    opacity: 0.62;
    position: absolute;
    top: 4px;
    left: -3px;
    width: 176px;
    height: 15px;
    z-index: -10;
}

.point-two__image {
    position: relative;
    margin: auto;
}

.point-two__image img {
    width: 357px;
    height: 220px;
    width: 35.7rem;
    height: 22rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: auto;
}

.point-two__image::after {
    content: "";
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -80px;
    bottom: -30px;
    left: -8rem;
    bottom: -3rem;
    width: 59px;
    height: 59px;
    width: 5.9rem;
    height: 5.9rem;
}

.point-three__top p {
    text-align: center;
    padding: 0px 0px 24px 0px;
    padding: 0px 0px 2.4rem 0px;
}

.point__three-left img {
    width: 311px;
    height: 221px;
    width: 31.1rem;
    height: 22.1rem;
}

.point__three-arrow img {
    width: 42px;
    height: 39px;
    width: 4.2rem;
    height: 3.9rem;
}

.arrow {
    align-self: center;
}

.arrow img {
    margin: 0px 35px;
    margin: 3.5rem 3.5rem;
}

.point__three-right img {
    width: 301px;
    height: 221px;
    width: 30.1rem;
    height: 22.1rem;
}

.point-three__top-picture,
.point-three__top-picture div {
    position: relative;
}

.point__three-right::before,
.point__three-left::before {
    font-size: 20px;
    font-size: 2.0rem;
    color: #01AED2;
    position: absolute;
    left: -80px;
    top: 0px;
    left: -8rem;
}

.point__three-left::before {
    content: "before";
}

.point__three-right::before {
    left: -60px;
    left: -6rem;
    content: "after";
}

.point__three-right::after {
    content: "";
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: -80px;
    top: -8.0rem;
    width: 36px;
    height: 36px;
    width: 3.6rem;
    height: 3.6rem;
    transform: rotate(-90deg);
}

.point-three__bottom {
    text-align: center;
}

.point-section__three>.point-three__top {
    margin-bottom: 103px;
    margin-bottom: 10.3rem;
}

.point-three__bottom p {
    padding: 0px 0px 19px 0px;
    padding: 0px 0px 1.9rem 0px;
}

.point-three__bottom-picture {
    position: relative;
    align-self: flex-end;
    justify-content: flex-end;
}

.point-three__bottom-picture img {
    width: 444px;
    height: 285px;
    width: 44.4rem;
    height: 28.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.point-three__bottom-picture::after {
    content: "";
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 130px;
    top: 30px;
    left: 13rem;
    top: 3rem;
    width: 65px;
    height: 65px;
    width: 6.5rem;
    height: 6.5rem;
    transform: rotate(-90deg);
}

.point-four__top .point__three-left img,
.point-four__top .point__three-right img {
    width: 400px;
    height: 219px;
    width: 40rem;
    height: 21.9rem;
}

.point-four__top .point__three-arrow img {
    width: 73px;
    height: 69px;
    width: 7.3rem;
    height: 6.9rem;
}

.point-four__top .point__three-right::after {
    content: "";
    background-image: url(../images/points4_cloud_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -40px;
    top: -220px;
    right: -4rem;
    top: -22.0rem;
    width: 221px;
    height: 221px;
    width: 22rem;
    height: 22rem;
    transform: rotate(0deg);
}

.point-four__top .font-18 {
    margin-bottom: 80px;
    margin-bottom: 8rem;
}

.point-four__top .point-three__top-picture::after {
    content: "";
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0px;
    bottom: -100px;
    right: 0rem;
    bottom: -10rem;
    width: 48px;
    height: 48px;
    width: 4.8rem;
    height: 4.8rem;
}

.point-four__top .point__three-left::before,
.point-four__top .point__three-right::before {
    font-size: 35px;
    font-size: 3.5rem;
    transform: translate(-30%, 0%);
}

.point-section__sub--four {
    margin-bottom: 5.0rem;
}

@media(min-width:0px) and (max-width:575px) {
    /* .point-one-left__picture {
        width: 80%;
    } */
    .point-section__sub>div:nth-child(1) {
        padding-left: 10%;
    }
    .point-section__one {
        flex-direction: column;
    }
    .point-section__one>div {
        width: 61rem;
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .arrow img {
        transform: rotate(90deg);
    }
    .point-section__two {
        flex-direction: column;
    }
    .point-two__image {
        transform: translate(25%, 0%);
    }
    .point-three__top-picture {
        flex-direction: column;
    }
    .point-three__top-picture>div {
        /* width: 61rem; */
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .point__three-right::after {
        right: -40px;
        top: -50px;
        top: -5.0rem;
    }
    .point-three__bottom-picture::after {
        left: 470px;
        left: 47rem;
        top: 0px;
        top: 0rem;
    }
    .point-four__top .point__three-right::after {
        background-image: url(../images/points4_cloud_right_app.png);
        right: -180px;
        top: -180px;
        right: -17rem;
        top: -10.0rem;
    }
    .point-four__top .point-three__top-picture::after {
        right: -50px;
        bottom: -50px;
        right: -5rem;
        bottom: -5rem;
    }
    .about__main {
        margin: 10px auto;
    }
    .about__main>div {
        transform: translate(0px, 0px);
    }
}

@media(min-width:576px) and (max-width:767px) {
    .point-section__sub>div:nth-child(1) {
        padding-left: 15%;
    }
    .point-section__one {
        flex-direction: column;
    }
    .point-section__one>div {
        width: 61rem;
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .arrow img {
        transform: rotate(90deg);
    }
    .point-section__two {
        flex-direction: column;
    }
    .point-two__image {
        transform: translate(25%, 0%);
    }
    .point-three__top-picture {
        flex-direction: column;
    }
    .point-three__top-picture>div {
        /* width: 61rem; */
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .point__three-right::after {
        right: -40px;
        top: -50px;
        top: -5.0rem;
    }
    .point-three__bottom-picture::after {
        left: 470px;
        left: 47rem;
        top: 0px;
        top: 0rem;
    }
    .point-four__top .point__three-right::after {
        background-image: url(../images/points4_cloud_right_app.png);
        right: -180px;
        top: -180px;
        right: -17rem;
        top: -10.0rem;
    }
    .point-four__top .point-three__top-picture::after {
        right: -50px;
        bottom: -50px;
        right: -5rem;
        bottom: -5rem;
    }
    .about__main {
        margin: 10px auto;
    }
    .about__main>div {
        transform: translate(0px, 0px);
    }
}

@media(min-width:768px) and (max-width:991px) {
    .point-section__sub>div:nth-child(1) {
        padding-left: 20%;
    }
    .point-section__one {
        flex-direction: column;
    }
    .point-section__one>div {
        width: 61rem;
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .arrow img {
        transform: rotate(90deg);
    }
    .point-section__two {
        flex-direction: column;
    }
    .point-two__image {
        transform: translate(25%, 0%);
    }
    .point-three__top-picture {
        flex-direction: column;
    }
    .point-three__top-picture>div {
        /* width: 61rem; */
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .point__three-right::after {
        right: -40px;
        top: -50px;
        top: -5.0rem;
    }
    .point-three__bottom-picture::after {
        left: 470px;
        left: 47rem;
        top: 0px;
        top: 0rem;
    }
    .point-four__top .point__three-right::after {
        background-image: url(../images/points4_cloud_right_app.png);
        right: -180px;
        top: -180px;
        right: -17rem;
        top: -10.0rem;
    }
    .point-four__top .point-three__top-picture::after {
        right: -50px;
        bottom: -50px;
        right: -5rem;
        bottom: -5rem;
    }
    .about__main {
        margin: 10px auto;
    }
    .about__main>div {
        transform: translate(0px, 0px);
    }
}

@media(min-width:992px) and (max-width:1279px) {
    .point-section__one {
        flex-direction: column;
    }
    .point-section__one>div {
        width: 61rem;
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .arrow img {
        transform: rotate(90deg);
    }
    .point-section__two {
        flex-direction: column;
    }
    .point-two__image {
        transform: translate(25%, 0%);
    }
    .point-three__top-picture {
        flex-direction: column;
    }
    .point-three__top-picture>div {
        /* width: 61rem; */
        align-items: center;
        transform: translate(0%, 0%);
        margin: auto;
    }
    .point__three-right::after {
        right: -40px;
        top: -50px;
        top: -5.0rem;
    }
    .point-three__bottom-picture::after {
        left: 470px;
        left: 47rem;
        top: 0px;
        top: 0rem;
    }
    .point-four__top .point__three-right::after {
        background-image: url(../images/points4_cloud_right_app.png);
        right: -180px;
        top: -180px;
        right: -17rem;
        top: -10.0rem;
    }
    .point-four__top .point-three__top-picture::after {
        right: -50px;
        bottom: -50px;
        right: -5rem;
        bottom: -5rem;
    }
    .about__main {
        margin: 10px auto;
    }
    .about__main>div {
        transform: translate(0px, 0px);
    }
    .point-section__sub>div:nth-child(1) {
        padding-left: 30%;
    }
}